<div id="amznCharityBanner" style="position: relative">
<div>
<a target='_blank' href="http://smile.amazon.com/ch/05-0542141">
<img src='https://d1ev1rt26nhnwq.cloudfront.net/ccmtblv2.png' id="banner" style="border-style: none;" /></a>
</div>
<table style="position: relative; text-align: center; width: 300px; top: -155px; height: 65px; vertical-align: middle"><tr><td style="vertical-align: middle"><div style="max-height: 54px; overflow: hidden; padding-left: 10px; padding-right: 10px;"><span style="font-family: Arial; font-size: 26px; line-height: 26px;" class="charityNameSpan">Hope For Change Foundation</span></div></td></tr></table></div>
