/*
	Theme Name: HFC
	Theme URI: www.hopeforchange.org
	Description: Theme custom made for Hope for Change.  Completed March 2012.
	Version: 1
	Author: Caroline amaba
	Author URI: http://www.carolineamaba.com
*/

/*
	Hope For Change
	CSS 2012
 */

@font-face {
    font-family: 'Rokkitt';
    src: url('fonts/Rokkitt-webfont.eot');
    src: url('fonts/Rokkitt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Rokkitt-webfont.woff') format('woff'),
         url('fonts/Rokkitt-webfont.ttf') format('truetype'),
         url('fonts/Rokkitt-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSans';
    src: url('fonts/DroidSans-webfont.eot');
    src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*	GENERAL		*/

img#ribbon { position: relative; z-index: 200; }


body {
	height: 100%;
	width: 100%;
	background-color: #e1e1e1;
	background-image: url("img/body_bg.jpg");
	font: 10pt/16pt 'DroidSans', Arial, Verdana, Tahoma, sans-serif;
	letter-spacing: 0.10em;
	margin: 0;
	padding: 0;
	color: #464646;
}

a {
	color: #b07f9f;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 15px 0;
}

/* SOME FONT STUFF */

b, strong { font-weight: bold; }

i, em { font-style: italic; }

u { text-decoration: underline; }

/* TITLING STYLES */
h1, h2, h3, h4, h5, h6 {
	color: #c959a1;
	font: 20pt/20pt 'Rokkitt', 'Courier New', serif;
	font-weight: bold;
	margin-bottom: 5px;
}

h2, h3 {	font: 18pt/18pt;	}

h3 {
	font: 16pt/16pt;
	color: #b07f9f;
}

h4, h5, h6 {
	font: 16pt/18pt;
	color: #464646;
}

h5, h6 {
	font: 16pt/18pt 'DroidSans', Arial, Verdana, Tahoma, sans-serif;
}

h6 {
	font: 14pt/16pt;
	font-weight: bold;
}

.noselect {
	position: relative;
	z-index: -1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.col ul li a.social {
	display: inline;
}
.container {
	margin: 0 auto;
	width: 960px;
	position: relative;
	overflow: hidden;
}

.container div#header {
	width: 960px;
	margin: 50px auto 0 auto;
}

/*	HEADER STUFF	*/
div#header div.pink,
div#header div.teal {
	color: #fff;
	display: block;
	height: 50px;
	position: relative;
	width: 960px;
	z-index: 50;
}

div.pink {
	background-color: #c959a1;
}

div.pink a.logo {
	background-image: url("img/hfc_logo.png");
	float: left;
	display: block;
	height: 178px;
	left: 30px;
	position: absolute;
	text-indent: -9999px;
	top: -37px;
	width: 239px;
	z-index: 55;
}

div.pink ul {
	color: #fff;
	display: inline;
/*	font: 24pt/24pt 'Rokkitt', serif;*/
	font: 2em/2em 'Rokkitt', serif;
	float: left;
	list-style-type: none;
	margin: 0 0 0 295px;
	padding: 0;
	text-transform: lowercase;
}

div.pink ul li {
	color: #fff;
	float: left;
	margin: 0px;
	padding: 0;
}

div.pink ul li a {
	color: #fff;
	display: block;
	font-weight: normal;
	padding: 0 10px;
	text-decoration: none;
	line-height: 50px;
}

div.pink ul li a:hover,
div.pink ul li.current_page_item a {
	color: #c959a1;
	height: 50px;
	background-color: #fff;
}

div.pinkcor,
div.tealcor {
	background-position: top center;
	background-repeat: no repeat;
	display: block;
	height: 20px;
	position: relative;
	width: 960px;
	z-index: 5;
}

div.pinkcor {
	background-image: url("img/pinkcorners.png");
}

div.tealcor {
	background-image: url("img/tealcorners.png");
	top: -20px;
}

/*	SLIDESHOW STUFF */

div#header div.slideshow_container {
	background-color: #fff;
	height: 275px;
	margin: 0 10px -20px 10px;
	padding: 10px 0px;
	position: relative;
	top: -20px;
	width: 940px;
	z-index: 10;
}

.slides_container {
    width: 922px;
    height: 279px;
	margin-left: 8px;
}

.slides_container div {
    width: 922px;
    height: 279px;
    display: block;
}

div.teal {
	background-color: #b07f9f;
	font: 2em/50px 'Rokkitt', serif;
	text-align: center;
	top: -20px;
	margin: 0 0 -20px 0;
}

div.teal img {
	float: right;
	height: *;
	margin-left: -15px;
	position: relative;
	right: 50px;
	top: -20px;
	width: 60px;
}

/* BOX */
div.box {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
}

.b280 {	/* SIDEBAR WIDTH */
	width: 280px;
	padding: 15px 0 100px 0;
}

.b280 ul {
	font-size: 12pt;
	line-height: 12pt;
	list-style-type: none;
	display: block;
	margin: 0 auto 25px auto;
	text-align: center;
	width: 255px;
}

.b280 ul li {
	background-color: #f5f5f5;
	border-radius: 10px;
	line-heigh: 12pt;
	display: block;
	margin: 4px 0;
	padding: 5px 0px 3px 0px;
	width: 255px;
}

.b280 ul li a, .b280 ul li a:hover {
	text-decoration: none;
}

.b280 ul li:hover a {
	color: #c959a1;
	background-color: #f1f1f1;
	overflow: hidden;
}

.b640 {
	margin-top: 25px;
	width: 630px;
	min-height: 400px;
	overflow: hidden;
}

.b280 ul li.current_page_item,
.b280 ul li.current_page_item a, 
.b280 ul li.current_page_item a:hover   {
	background-color: #b07f9f;
	color: #f1f1f1;
}

/*	CONTENT STUFF */

.container div#content_zone {
	background-color: #fff;
	margin: 0 0 0 10px;
	min-height: 400px;
	padding: 10px 0 50px 0;
	position: relative;
	width: 940px;
	overflow: hidden;
	top: -56px;
	z-index: 50;
}

/* some buttons */
.rbut {
	background-color: #f5f5f5;
	border-radius: 15px;
	border-bottom: 10px solid #d1d1d1;
}

.rbut:hover {
	border-top: 5px solid #f5f5f5;
	border-bottom: 5px solid #d1d1d1;
	position: relative;
}

.hp {	/* The Hope Players Button */
	background-image: url('img/hopeplayers.png');
	background-repeat: no-repeat;
	background-position: 15px 20px;
	display: block;
	height: 155px;
	margin: 0 auto 10px auto;
	text-align: center;
	text-indent: -9999px;
	width: 255px;
}

.eo {	/* Educational Outreach Button */
	color: #b07f9f;
	display: block;
	font: 24pt/28pt'Rokkitt', serif;
	margin: 0 auto 10px auto;
	text-align: center;
	width: 255px;
}

a .eo, a:hover .eo,
.eolink, .eolink:hover
{
	text-decoration: none;
}

/* form button style */
input[type=submit] {
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 15px;
	border: 0px;
	border-bottom: 6px solid #d1d1d1;
	font-weight: bold;
	font-family: "DroidSans", Tahoma, Verdana, Arial;
	text-transform: uppercase;
	color: #b07f9f;
	font-size: 14pt;
}

input[type=submit]:hover {
	border-top: 3px solid #f5f5f5;
	border-bottom: 3px solid #d1d1d1;
}

textarea {
	font-family: "DroidSans", Tahoma,Verdana, Arial;
	font-size: 10pt;
	line-height: 18pt;
	width: 80%;
	padding: 5px;
	border: 1px solid #d1d1d1;
	border-radius: 15px;
	margin: 10px;
	resize: none;
}

/*	FOOTER STUFF	*/

div.tealheight {
	height: 40px;
	position: relative;
	top: -89px;
	z-index: 20;
}

div.tealspikes {
	background-image: url("img/tealcaps.png");
	background-position: top center;
	background-repeat: no-repeat;
	height: 13px;
	position: relative;
	width: 960px;
	top: -110px;
	z-index: 60;
}

.container div#footer {
	color: #fff;
	margin: 0;
	margin-bottom: -110px;
	font: 10pt/14pt 'DroidSans', Arial, Verdana, Tahoma, sans-serif;
	padding-bottom: 75px;
	background-color: #b07f9f;
	position: relative;
	width: 960px;
	z-index: 75;
	top: -110px;
	overflow: hidden;
}

.push1 {
	position: relative;
	left: 60px;
}


div#footer .col {
	position: relative;
	line-height: 24px;
	margin: 0 10px;
	padding-top: 50px;
	text-transform: lowercase;
	width: 160px;
}

.col ul {
	position: relative;
	font: 15px/15px 'DroidSansBold', Arial, Verdana, Tahoma, sans-serif;
	font-weight: bold;
}

.col ul li {
	padding: 5px 0;
}

.col ul li a { color: #fff; display: block; }

.col ul li a:hover {
	color: #d1d1d1;
	text-decoration: none;
}

/*	NEWS STUFF	*/

div.b640 div.news div.singlepg_comments {
	border-top: 2px dashed #c959a1;
	margin-top: 10px;
	padding-top: 25px;
}

div.b640 form#commentform {
	margin: 15px 0 50px 0;
	border-bottom: 2px dashed #c959a1;
	padding-bottom: 25px;
}

form#commentform p.comment-form-comment label {
	display: block;
	font-weight: bold;
	text-trasform: uppercase;
}

form#commentform p.form-allowed-tags {
	display: none;
}

div.b640 div.news,
div.b640 div.news:last-child,
div.b640 div.news div.singlepg_comments div.comment,
div.b640 div.news div.singlepg_comments div.comment:last-child {
	margin: 0 0 25px 0;
	padding: 0;
	padding-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}

div.b640 div.news div.singlepg_comments div.comment,
div.b640 div.news div.singlepg_comments div.comment:last-child {
	padding-bottom: 10px;
}

div.b640 div.news:last-child {
	border: 0px solid;
}

div.news h1 {
	margin: 0;
	padding: 0;
	font-size: 24pt;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

div.news span.byline {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	color: #a1a1a1;
	font-style: italic;
	font-size: 10pt;
}

div.news p {
	margin: 0;
	padding: 0 0 10px 10px;
}

div.hope_for p{
       float: left;
       width: 30%;
}

blockquote {
   font: 14px/22px normal helvetica, sans-serif;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 50px;
   margin-right: 50px;
   padding-left: 15px;
   border-left: 3px solid #ccc;
}
